<h1>Programming and IT jobs in Finland</h1>
<p>Test version parsing Duunitori for Tampere and Helsinki and TE-Keskus for the whole country
</p>

<!-- search box -->
<!-- TODO this needs to be sorted based on the current selection. it loses the query params now) -->
<!-- TODO need to add clear button -->
<%= form_for @conn, Routes.page_path(@conn, :index), [as: :search, method: "get"], fn f -> %>
  <div class="pure-g" style="padding-bottom: 1rem;">
    <div class="pure-u-1-8">
      <label>Search</label>
    </div>
    <div class="pure-u-7-8">
      <%= search_input f, :pattern, class: "search-field" %>
    </div>
  </div>
  <div class="pure-g" style="padding-bottom: 1rem;">
    <div class="pure-u-1-8">
      <label>Filter</label>
    </div>
    <div class="pure-u-7-8">
      <%= search_input f, :filter, class: "search-field" %>
    </div>
  </div>

  <br>
  <%= submit "Search", onclick: "setScrollCookie()", class: "button" %>

  <p>When searching with multiple terms all of them must be in the ad.<br>
  Use dash '-' to not to include a term.<br>
  Use quotation marks '"' to include a full expression, not just individual words.
  </p>
  <p>Filter example: company=what city=Tampere valid_to=2019-05-13<br>
  Valid keys: company, city, valid_to, valid_from</p>
<% end %>

<!-- Print the query results -->
<!-- TODO should be bit prettier: empty, multiple patterns -->
<h3><%= length(@jobs) %> Jobs
  with <%= @conn.query_params["search"]["pattern"] %> in them.</h3>

<!-- jobs -->
<table id="job-listing">
  <thead>
    <tr>
      <% links = [
        {"Title", "title"},
        {"Company", "company"},
        {"City", "city"},
        {"Posted", "valid_from"},
        {"Open Till", "valid_to"}
        ] %>
      <%= for {name, link} <- links do %>
      <th>
        <% query = Map.put(@conn.query_params, "sort", link) %>
        <%= link(name, to: Routes.page_path(@conn, :index, query), class: "button", onclick: "setScrollCookie()") %>
      </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= for job <- @jobs do %>
      <tr>
        <th>
        <a onclick="setScrollCookie()" href="/job/<%= job.id %>"><%= job.title %></a></th>
        <th><%= job.company %></th>
        <th><%= job.city%></th>
        <th><%= job.valid_from %></th>
        <th><%= job.valid_to %></th>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
document.scrollingElement.scrollTop = <%= @scroll %>

function setScrollCookie() {
  document.cookie = "scroll=" + document.scrollingElement.scrollTop
}
</script>
