<% job = Scraper.Repo.get!(Scraper.Job, @id) %>

<%= link("Prev", to: Routes.page_path(@conn, :job, String.to_integer(@id)-1), class: "button") %>
<%= link("Next", to: Routes.page_path(@conn, :job, String.to_integer(@id)+1), class: "button") %>

<div class="body-text">

  <h1> <%= job.title %> </h1>
  <h2> <%= job.company %> </h2>
  <h3> <%= job.location %> </h3>
  <p><a href="<%= job.url %>"><%= job.url %></a> </p>
  <%= text_to_html(job.desc) %>

</div>

<script>
  title = "<%= job.title <> " - " <> job.company %> : Jobs"
  document.title = title
</script>
