<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Jobs</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <section class="container">
        <a href="http://darfey.com" class="">
          <img src="<%= Routes.static_path(@conn, "/images/jk_logo.png") %>" height="64px" alt="JK"/>
        </a>
        <nav role="navigation">
          <%= link("Home", to: "/", class: "button nav-link") %>
          <%= link("Source Code", to: "https://gitlab.com/joonatan/job_web", target: "_blank", class: "button nav-link") %>
          <%= link("Spider", to: "https://gitlab.com/joonatan/job_spider", target: "_blank", class: "button nav-link") %>
          <%= link("My stuff", to: "http://darfey.com/", target: "_blank", class: "button nav-link") %>
        </nav>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
