/* This file is for your main application css. */

@import "./phoenix.css";

.debug-text,
.body-text {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%
}

.debug-text {
    text-align: center;
}

.nav-link {
    background-color: #990000;
    padding-right: 2rem;
    margin-right: 2rem;
}

.search-field {
    max-width: 80rem;
}
